---
layout: default
make-smaller-titles: true
---

<p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="eski1337" data-slug-hash="wvgVKpj" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="particles.js">
  <span>See the Pen <a href="https://codepen.io/eski1337/pen/wvgVKpj">
  particles.js</a> by eski1337 (<a href="https://codepen.io/eski1337">@eski1337</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <br>
                <img src="{{ site.title_image }}" class="img-square about-image" height="60" width="200" alt="{{ site.title }}" />
                <br>
                <br>
                <br>
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>
            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Letzte Posts</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">Mehr...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>
